*{
  margin:0;
  padding:0;
  list-style: none;
}

body{
  color:#40514E;
  margin: 0;
  text-align:center;
  font-family:"Merriweather", serif;
}

h1{
  font-family:"Sacramento", cursive;
  font-size:5.625rem;
  margin-top:50px auto 0 auto;
  color:#66BFBF;
  line-height:2;
}

h2{
  font-family:"Montserrat", sans-serif;
  font-size:2.5rem;
  color:#66BFBF;
  font-weight:normal;
  padding-bottom:10px;
}

h3{
  font-family:"Montserrat", sans-serif;
  color:#11999E;
}

span{
  text-decoration: underline;
}

p{
  line-height:2;
}

hr{
  border-style:none;
  border-top-style:dotted;
  border-color:grey;
  border-width:6px;
  width:5%;
  margin:100px auto;
}

.profile-image{
    height:160px;
    width:160px;
    padding-top:100px;
}

.intro{
  width:30%;
  margin:auto;
}

.contact-me{
  padding-bottom: 100px;
}

.contact-message{
  width:40%;
  margin: 40px auto 60px auto;
}

.top-container{
  background-color:#E4F9F5;
  position:relative;
  padding-top:100px;
}

.top-cloud{
  position:absolute;
  right:300px;
  top:25px;
}

.bottom-cloud{
  position: absolute;
  left:250px;
  bottom:300px;
}

.skill-row{
  width:57.5%;
  margin:100px auto 100px auto;
  text-align:left;
}

.web-development{
  width:25%;
  float:left;
  margin-right: 30px;
}

.python{
  width:25%;
  float:right;
  margin-left: 30px;
}

/* .footer-link{
  color:#11999E;
} */

.bottom-container{
  background-color: #262626;
  padding: 50px 0 20px;
}

ul{
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li{
  position: relative;
  display:block;
  color:#666;
  font-size: 30px;
  height:60px;
  width:60px;
  background: #171515;
  line-height:60px;
  border-radius: 50%;
  margin: 0 15px;
  cursor:pointer;
  transition: .5s;
}

ul li:before{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  /* background: #d35400; */
  height: 100%;
  width: 100%;
  border-radius: 50%;
  z-index: -1;
  transform: scale(0.9);
  transition: .5s;
}

ul li:nth-child(1):before{
  background: #4267B2;
}

ul li:nth-child(2):before{
  background: #1DA1F2;
}

ul li:nth-child(3):before{
  background: #E1306C;
}

ul li:nth-child(4):before{
  background: #2867B2;
}

ul li:nth-child(5):before{
  background: #ff0000;
}

ul li:hover::before{
  filter: blur(3px);
  transform: scale(1.2);
  /* box-shadow: 0 0 15px #d35400; */
}

ul li:nth-child(1):hover::before{
  box-shadow: 0 0 15px #4267B2;
}

ul li:nth-child(1):hover{
  color: #456cba;
  box-shadow: 0 0 15px #4267B2;
  text-shadow: 0 0 15px #4267B2;
}

ul li:nth-child(2):hover{
  color: #26a4f2;
  box-shadow: 0 0 15px #1DA1F2;
  text-shadow: 0 0 15px #1DA1F2;
}

ul li:nth-child(3):hover{
  color: #e23670;
  box-shadow: 0 0 15px #E1306C;
  text-shadow: 0 0 15px #E1306C;
}

ul li:nth-child(4):hover{
  color: #2a6cbb;
  box-shadow: 0 0 15px #2867B2;
  text-shadow: 0 0 15px #2867B2;
}

ul li:nth-child(5):hover{
  color: #ff1a1a;
  box-shadow: 0 0 15px #ff0000;
  text-shadow: 0 0 15px #ff0000;
}

a{
  font-family: "Montserrat", sans-serif;
  color: #E4F9F5;
  margin: 10px 20px;
}

a:hover{
  color:#EAF6F6;
}

.copyright{
  color:#EAF6F6;
  font-size: 0.75rem;
  padding:20px 0;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family:"Montserrat", sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
/* .top-container{
  background-color: blue;
  height:200px;
  width:200px;
  border:solid 20px;
  margin-left:260px;
}

.bottom-container{
  background-color:red;
  height:200px;
  width:200px;
  border:solid 10px;
  margin-left:540px;
}

.top-container:hover{
  background-color:gold;
}

.bottom-container:hover{
  background-color:black;
} */
